.footer {
  right: 0;
  bottom: 0;
  left: 0;
  padding: 10px;
  background-color: #053352;
  color: #cccccc;
  font-size: .8em;
  text-align: center;
  > img {
    width: 50px;
    margin: 2px;
  }
  @media screen and (min-width: 800px) {
    text-align: left;
    margin-top: -25px;
    padding: 20px;
    > img {
      display: inline-block;
      position: absolute;
      left: 10%;
      margin-bottom: 10px;
    }
    > p {
      display: inline-block;
      position: relative;
      left: 15%;
      font-size: .8em;
      margin: 0;
      padding: 20px;
    }
  }
}
.footer__nav {
  list-style: none;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 0;
  > li {
    display: inline-block;
    padding: 4px;
    font-size: 1em;
    line-height: 1.2em;
    color: #CCCCCC;
    &:after {
        content: "\00a0\00a0\00a0|";
      }
      &:last-of-type:after {
        content: none;
      }
  }
    > li > a {
      color: inherit;
      text-decoration: none;
    }
    > li > a:hover {
        color: #FFFFFF;
        border-bottom: solid 1px #FFFFFF;
    }
    @media screen and (min-width: 800px) {
      display: inline-block;
      position: absolute;
      right: 0;
      margin-right: 10%;
      width: 35%;
      text-align: right;
      > li {
        font-size: 1em;
      }
    }
}
