<div class="footer">
    <ul class="footer__nav">
      <li><a href="/">Nav 1</a></li>
      <li><a href="/">Nav 2</a></li>
      <li><a href="/">Nav 3</a></li>
      <li><a href="/">Nav 5</a></li>
    </ul>
  <img src="./images/tiylogogray.png">
  <p>The Iron Yard | Copyright 2015 | All Rights Reserved.</p>
</div>
