<div class="header__background">
  <div class="header__overlay">
    <nav>
      <ul class="header__nav">
        <li><a href="/">About</a></li>
        <li><a href="http://www.google.com">Search<i class="fa fa-search fa-rotate-90"></i></a></li>
      </ul>
    </nav>
    <div class="header__logo"><img src="./images/waves.png">&nbsp;SURF &#38; PADDLE CO. BLOG</div>
    <h1>SURF &#38; PADDLE CO.</h1>
    <p>An Iron Yard Academy Project est. Summer 2014</p>
  </div>
</div>
