<div class="pop__postsWrapper">
<div class="pop__postsHeader"><h1>MOST POPULAR POSTS</h1></div>

<div class="pop__posts"><a href="/post2">
  <img class="pop__postsImage" src="./images/withstand.jpg">
  <div class="pop__postsBody"><h2>Post Title</h2></div></a>
</div>
<div class="pop__posts">
  <a href="./post3"><img class="pop__postsImage" src="./images/followtheleader.jpg">
  <div class="pop__postsBody"><h2>Here's Another Longer Post Title</h2></div></a>
</div>
<div class="pop__posts">
  <a href="./post4"><img class="pop__postsImage" src="./images/banner.jpg">
  <div class="pop__postsBody"><h2>Oh Cool Post!</h2></div></a>
</div>
<div class="pop__posts">
  <a href="./post5"><img class="pop__postsImage" src="./images/follyisland.jpg">
  <div class="pop__postsBody"><h2>Another Cool Post</h2></div></a>
</div>
</div>
