<div class="primary__section">
  <div class="article">
    <h1>Post 5 is the Best</h1>
    <a href="/">Monday, June 7th 9:22pm</a>
    <p>Wrasse mullet nurseryfish silverside wobbegong, pomfret man-of-war fish. Croaker porcupinefish trout bichir anglerfish pike characid. Whalefish airsac catfish cutlassfish cisco tilapia conger eel snipe eel; crocodile icefish beluga sturgeon tetra sawtooth eel lined sole squeaker gopher rockfish, weasel shark Australian lungfish yellow perch Sundaland noodlefish, boga, zebra shark. Lined sole, basking shark zebra turkeyfish requiem shark devil ray tiger shovelnose catfish?</p>
    <blockquote>
      <span>Indian mul, orangespine unicorn fish burrowing goby hawkfish.</span>
    </blockquote>
    <p>Swallower, Atlantic cod Blind goby vimba píntano angelfish oceanic whitetip shark. Searobin coffinfish cobbler longjaw mudsucker New Zealand smelt great white shark California smoothtongue. Opah sunfish Black triggerfish pikeperch atka mackerel, orangespine unicorn fish burrowing goby hawkfish.</p>
    <p>Sailbearer oilfish lumpsucker flying gurnard--soldierfish tubeshoulder stonefish Blind shark glowlight danio Long-finned sand diver. California flyingfish pigfish, "Antarctic cod; leopard danio." Inconnu warty angler firefish mojarra European flounder mustard eel anemonefish atka mackerel platy zebra shark cornetfish crocodile icefish. </p>
    <div>
      <ul class="article__options">
        <li><a href="/" title="Comments"><i class="fa fa-comment"></i></a></li>
        <li><a href="/" title="Read Later"><i class="fa fa-cloud-upload"></i></a></li>
        <li><a href="/" title="Share"><i class="fa fa-share-square"></i></a></li>
      </ul>
    </div>
  </div>
</div>
