<div class="secondary__section">
  <div class="author__info">
    <div class="author__pic">
    <div class="author__picOverlay"></div>
    </div>
    <h1>Author Name</h1>
    <div>
      <ul class="author__links">
        <li><a href="http://www.twitter.com/">Twitter</a></li>
        <li><a href="http://www.facebook.com/">Facebook</a></li>
        <li><a href="http://www.instagram.com/">Instagram</a></li>
      </ul>
    </div>
  </div>
  <div class="ad">
    <img class="ad__image" src="./images/outtopasture.jpg">
    <div class="ad__body"></div>
  </div>
  <div class="ad__link"><a href="/">About This Ad</a>
  </div>
  <div class="sidebar__section">
    <h1>Secondary Sidebar Heading</h1>
    <p>Whalefish airsac catfish cutlassfish cisco tilapia conger eel snipe eel; gopher rockfish, weasel shark Australian lungfish yellow perch Sundaland noodlefish, boga, zebra shark.</p>
    <p>Opah sunfish Black triggerfish pikeperch atka mackerel, orangespine unicorn fish burrowing goby hawkfish.</p>
  </div>
</div>
